/* Text Elements */

h1.heading-1 {
  margin-top: 81px;
  padding-top: 0;
  color: #04011c;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
}

h3.heading-2 {
  color: #59c4c5;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
}

h3.Book-title {
  color: #070708;
  text-align: center;
  font-weight: 700;
}

h3.title {
  color: #0a0a0a;
  text-align: center;
  font-weight: 500;
  font-family: 'Alfa Slab One', cursive;
}

span.text-element.Sublogo {
  margin-top: 14px;
  text-align: center;
  font-size: 18px;
}

span.text-element.booktitle {
  color: #ff4c65;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  font-family: 'Contrail One', cursive;
  line-height: .98;
}

span.text-element.footer-text {
  text-align: center;
  font-size: 18px;
}

span.text-element.book-description {
  margin-top: 19px;
  text-align: center;
  font-size: 17px;
}

span.text-element.text-1 {
  text-align: center;
  font-weight: 400;
  font-size: 17px;
}

span.text-element.nav-next {
  color: #050505;
  text-align: right;
  font-weight: 800;
  font-size: 18px;
}

span.text-element.nav-prev {
  color: #080708;
  font-weight: 800;
  font-size: 18px;
}

span.text-element.text-2 {
  text-align: center;
  font-size: 16px;
}

span.text-element.book-title {
  margin-top: 7px;
  margin-bottom: 7px;
  color: #ff4c65;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

span.text-element.text-3 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

blockquote.disclaimer-text {
  text-align: center;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  font-variant: normal;
  font-size: 14px;
}

a.link-text.text-link-1 {
  color: #050505;
  text-align: center;
  font-size: 35px;
  font-family: 'Alfa Slab One', cursive;
}

/* Image Elements */

img.image-4-3.book-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: none;
}

img.image-4-3.image-1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: none;
}

img.image-4-3.book-page {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: none;
}

img.image-4-3.image-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: none;
}

img.image-4-3.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
}

img.image-4-3.image-4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: none;
}

/* Interaction Elements */

button[type=submit].btsubmit {
  display: inline;
  margin-left: 1%;
  padding-right: 15px;
  padding-left: 15px;
  width: auto;
  font-weight: 700;
  font-size: 16px;
}

button[type=submit].button-1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  width: auto;
  font-weight: 600;
  font-size: 17px;
}

input[type=text].input-1 {
  float: left;
  clear: right;
  margin-top: 7px;
  margin-right: 0;
  margin-left: 25%;
  padding: 7px 5px 5px;
  max-width: none;
  width: 40%;
  background-color: #ffc33c;
  font-size: 20px;
}

/* Layout Elements */

body.grid-1 {
  background-color: #fbe2b4;
}

body > .row > [class*='coffee-span-'].LogoTitle {
  margin-top: 70px;
  background-color: transparent;
}

body > .row > [class*='coffee-span-'].ads {
  margin-top: 26px;
  min-height: 90px;
}

body > .row > [class*='coffee-span-'].form {
  clear: both;
  margin-top: 17px;
  margin-right: auto;
  margin-left: auto;
}

body > .row > [class*='coffee-span-'].column-1 {
  margin-top: 16px;
}

body > .row > [class*='coffee-span-'].video {
  min-height: 100px;
}

body > .row > [class*='coffee-span-'].latest {
  margin-top: 17px;
}

body > .row > [class*='coffee-span-'].footer {
  margin-top: 30px;
}

body > .row > [class*='coffee-span-'].disclaimer {
  margin-top: 14px;
}

body > .row > [class*='coffee-span-'].column-2 {
  margin-top: 10px;
  padding-top: 0;
  background-color: transparent;
}

body.grid-2 {
  background-color: #fbe2b4;
}

body > .row > [class*='coffee-span-'].pages {
  margin-top: 15px;
}

body.grid-3 {
  background-color: #fbe2b4;
}

body > .row > [class*='coffee-span-'].column-3 {
  margin-top: 22px;
}

body > .row.footer {
  margin-top: 15px;
}

body > .row > [class*='coffee-span-'].ad-up {
  margin-top: 10px;
  min-height: 90px;
}

body > .row > [class*='coffee-span-'].ad-between {
  margin-top: 0;
  min-height: 90px;
}

body.grid-4 {
  background-color: #fbe2b4;
}

body > .row > [class*='coffee-span-'].header {
  margin-top: 10px;
  margin-bottom: 10px;
}

body > .row.row-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

body > .row > [class*='coffee-span-'].ad {
  min-height: 90px;
}

body > .row > [class*='coffee-span-'].ad1 {
  margin-top: 10px;
  min-height: 90px;
}

body > .row.row-2 {
  margin-top: 7px;
  padding-top: 0;
}

body > .row > [class*='coffee-span-'].column-5 {
  margin-top: 10px;
}

body > .row > [class*='coffee-span-'].ad-down {
  margin-top: 13px;
  margin-bottom: 12px;
  min-height: 90px;
}

body > .row > [class*='coffee-span-'].column-4 {
  min-height: 10px;
}

body > .row.book-column {
  margin-top: 10px;
}

body > .row > [class*='coffee-span-'].column-6 {
  min-height: 10px;
}

body > .row > [class*='coffee-span-'].column-7 {
  min-height: 10px;
}

body > .row > [class*='coffee-span-'].column-8 {
  min-height: 10px;
}

body > .row.row-3 {
  margin-top: 10px;
  margin-bottom: 0;
}

body > .row > [class*='coffee-span-'].column-9 {
  min-height: 10px;
}

body > .row > [class*='coffee-span-'].column-10 {
  min-height: 10px;
}

body > .row > [class*='coffee-span-'].column-11 {
  min-height: 10px;
}

body > .row > [class*='coffee-span-'].column-12 {
  min-height: 10px;
}

body.grid-5 {
  background-color: #fbe2b4;
}

body > .row.row-4 {
  margin-top: 73px;
}

body > .row > [class*='coffee-span-'].column-13 {
  margin-top: 44px;
}

body.grid-6 {
  background-color: #fbe2b4;
}

body > .row > [class*='coffee-span-'].advertical {
  margin-right: auto;
  margin-left: auto;
}

body > .row > [class*='coffee-span-'].column-14 {
  margin-top: 43px;
}

body > .row.row-5 {
  margin-top: 13px;
}

.subgrid > .row.subgrid-row-1 {
  margin-top: 20px;
}